<div class= "top-title">
<p class= "top-title-headline">ようこそ Bookers へ！</p>
</div>
<div class= "top-body">
<p class="top-body-headline">
	<b>Bookers</b>ではさまざまな書類に関するあなたの意見や</p>
<p class="top-body-headline2">
    印象を共有し交換することができます
</p>
<p class="line-start"><%= link_to "start", books_path(@book) %></p>
</div>